* {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
  }

th {
    
    background-color: green;
    text-align: left;
    color: white;
    padding-left: 10px;
    height: 50px;
    width: 120px;
    
    
}

td {
    
    background-color: rgb(255, 255, 190);
    text-align: center;
    padding: 10px;
    
}

.active {
    background-color: orange;
}

th, td {
    border: 1px solid gray;
}