

body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1 {
    color: white;
    background-color: maroon;
    text-align: center;
}

h2 {
    background-color: aqua;
    border-left: 6px solid blue;
    padding-left: 10px;
        
}